body{
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    padding: 20px;
    border-top: 5px;
    border-radius: 8px;
    text-align: center;
}
h1{
    font-size: 35px ;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: lightcoral;
}
div{
    background-color: lightpink;
    width: 37%;
    margin: 0 auto 50px auto;
    padding: 50px;
    border: 15px solid; border-color: hotpink;
    color: black;
    border-width: 8px;
    border-style: groove;
    transform: scale(0.7);
    transform-origin: top center; 
}
form{
    margin-bottom: 20px;
}


